/* Custom Styles */
/* Google Fonts Imports  */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:wght@300;400&display=swap');

/* Universal Styles */
body {
  background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)),
    url("https://wallpaperaccess.com/full/4174801.jpg");
    background-repeat: repeat-y;
    background-position: bottom;
    background-size: 100%;
    height: 100% !important;
}

.container {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}


.section-styles {
  width: 95% !important;
  min-height: 95vh !important;
  margin: 0 auto;
  border: solid 3px rgb(0, 238, 255);
  background: rgba(24, 24, 24, 0.5);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


.section-title {
  color: rgb(0, 238, 255);
  margin: 2% auto;
  font-size: 3.5rem;
  text-align: center;
}
/* Navbar Styles */
/* div.navbar.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.nav-link {
  text-decoration: none;
  color: black;
} */

/* Header Page Styles */
.header-section {
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* border: solid 3px rgb(0, 238, 255); */
  background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0.7) 70%, rgba(24, 24, 24, 0)) !important;
  justify-content: center !important;
}

div .header-section .Typewriter {
    margin: 2% auto;
    color: #000;
    text-shadow:1px 1px 10px rgb(2, 173, 185), 1px 1px 10px rgb(0, 238, 255);
    font-size: 6rem !important;
    font-family: 'Cairo', sans-serif;
    z-index: 100;
    background-color: !important;
}


.header-links-div {
  width: 10%;
  justify-content: space-around;
}

.header-link {
  font-size: 3.75rem;
  margin-top: 2%;
  color: rgb(0, 238, 255);
}

.header-link:focus,
.header-link:Hover {
  color: rgb(0, 87, 94);
}

/* About Page Styles */

.about-col {
  border: solid 3px rgb(0, 238, 255);
  margin: 3% auto;
  padding: 0 !important;
}

.about-image-div {
  width: 40%;
}

.about-content-div {
  width: 60%;
  height: 100%;
  flex-direction: column;
  color: #fff;
}

.about-content-left {
  background: linear-gradient(135deg, rgba(0, 238, 255, 0.2) 0%, rgba(0, 238, 255, 0.2) 61%, rgba(24, 24, 24, 0.5) 61%, rgba(24, 24, 24, 0.5) 100%);
}

.about-content-right {
  background: linear-gradient(135deg, rgba(24, 24, 24, 0.5) 0%, rgba(24, 24, 24, 0.5) 61%, rgb(0, 238, 255) 61%, rgb(0, 238, 255) 100%);
}

.about-image {
  margin: 0 auto;
  width: 80%;
}

.about-div-title {
  font-size: 2.5rem;
  margin: 2% auto;
}

.about-div-ul {
  padding: 0;
}

.about-div-li {
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
  margin: 2% 0;
}

/* Skills Page Styles */
.skills-col {
  width: 100%;
  border: solid 2px palevioletred;
}

.skills-icon-div {
  width: 60%;
  height: 100%;
  flex-direction: column;
  border: solid 2px purple;
}


/* Projects Page Styles */
.projects-row {
  width: 100%;
  margin: 2% auto;
  justify-content: space-between !important;
}

.projects-col {
  flex-direction: column;
}

.project-btn {
  margin: 0 auto;
  padding: 1% 2%;
  background-color: rgb(0, 73, 78) !important;
  border: solid 3px rgb(0, 238, 255) !important;
  box-shadow: 2px 3px 10px 2px rgb(0, 0, 0);
  font-size: 1.5rem !important;
}

.project-btn:focus,
.project-btn:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.project-card {
  border-radius: 5px;
  border: solid 4px rgb(0, 238, 255) !important;
  background-color: rgba(24, 24, 24, 0.5) !important;
}


/* .card {
  width: 80%;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 2px rgb(0, 0, 0);
} */

/* .carousel {
  width: 900px;
  height: 460px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 3rem !important;
  color: rgb(0, 238, 255) !important;
}

.carousel-control-next-icon {
  background-image: url("./images/right-arrow.png") !important;
  background-color: transparent !important;
}

.carousel-control-prev-icon {
  background-image: url("./images/left-arrow.png") !important;

}

.project-image {
  margin: 0 auto;
  max-width: 50% !important;
}

.project-image-small {
  margin: auto;
  max-width: 80% !important;
}

.project-title {
  font-size: 2rem !important;
  margin-bottom: 2% !important;
  color: rgb(0, 238, 255);
}

.project-sub-title {
  font-size: 1.5rem !important;
  margin: 1% auto !important;
  color: rgb(0, 146, 156);
}

.project-text {
  margin-bottom: 2% !important;
}

.project-text,
.project-card-li {
  font-size: 1.25rem !important;
}

/* 
.project-card-list {
  border: none !important;
  text-decoration: none !important;
  background-color: rgba(24, 24, 24, 0.5) !important;
} */

.project-card-li {
  border: none !important;
  text-decoration: none !important;
  background-color: transparent!important;
  color: #fff !important;
  padding: 0% 0% 1% 0% !important;
}

.project-card-links {
  width: 15%;
  justify-content: space-between;
}

.project-link {
  font-size: 3rem;
  color: rgb(0, 238, 255);
}


/* Test Project Styles */
.tproject-row {
  width: 100%;
  margin: 0 auto;
}

.tproject-col-1 {
  width: 40% !important;
}

.tproject-col-2 {
  text-align: center;
  width: 60% !important;
}


.tproject-carousel {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tproject-image {
  margin: 0 auto;
  max-width: 70% !important;
}
/* Default Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Media Queries */
@media only screen and (max-width: 700px) {
  .header-links-div {
    width: 30%;
  }

}

@media only screen and (max-width: 1000px) {
  .about-col {
    flex-direction: column !important;
  }
  .about-image-div,
  .about-content-div {
    width: 100%;
  }

  .about-image {
    width: 50%;
  }

}


@media only screen and (max-width: 1200px) {
  div .header-section .Typewriter {
    font-size: 5rem !important;
    text-align: center;
  }

  .header-links-div {
    width: 20%;
  }
}