/* Custom Styles */
/* Google Fonts Imports  */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Raleway:wght@500&family=Roboto:wght@300;400&display=swap');

/* Universal Styles */
body {
  background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)),
    url("./images/background02.jpg");
  background-repeat: repeat-y;
  background-position: bottom;
  background-size: 100%;
  height: 100% !important;
  /* url("https://wallpaperaccess.com/full/4174801.jpg"); */
}

.container {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}


.section-styles {
  width: 100% !important;
  background: rgba(24, 24, 24, 0.0);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.section-title {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  text-align: center;
  margin: 2% auto;
  padding: 2% 0;
  width: 100%;
  background-color: rgba(24, 24, 24, 0.9) !important;
  border: solid 3px rgb(255, 0, 212); 
  box-shadow:0 0 20px rgb(0, 238, 255);
}

/* Navbar Styles */
/* div.navbar.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.nav-link {
  text-decoration: none;
  color: black;
} */

/* Header Page Styles */
.header-section {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* border: solid 3px rgb(0, 238, 255); */
  /* background-image: linear-gradient(to bottom, rgba(24, 24, 24, 0.7) 70%, rgba(24, 24, 24, 0)) !important; */
  justify-content: center !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(24, 24, 24, 0.0)),
    url("https://images.unsplash.com/photo-1546640646-89b557854b23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-repeat: repeat-y;
  background-position: bottom;
  background-size: cover;

  border: solid 3px rgb(0, 238, 255); 
}

div .header-section .Typewriter {
    margin: 10% auto 3%;
    color: #fff;
    text-shadow:1px 1px 10px rgb(255, 0, 212), 1px 1px 10px rgb(255, 0, 212);
    font-size: 7rem !important;
    font-family: 'Cairo', sans-serif;
    z-index: 100;
    background-color: !important;
}

.header-links-div {
  width: 10%;
  justify-content: space-around;
  margin: 0 auto;
}

.header-link {
  font-size: 4rem;
  margin-top: 2%;
  color: rgb(0, 238, 255);
}

.header-link:focus,
.header-link:Hover {
  color: rgb(255, 0, 212);
}

/* About Page Styles */
.about-container.container {
  margin: 0 auto;
  padding: 2% 0;
  min-width: 100% !important;

}

.about-row.row{
  max-width: 80% !important;
  margin: 2% auto;
  border: solid 3px rgb(0, 238, 255);
  box-shadow: 2px 3px 10px 2px rgb(0, 0, 0);
  background: rgba(24, 24, 24, 0.9);
}

.about-col {
  /* border: solid 3px rgb(0, 238, 255); */
  padding: 0 !important;
}

.about-image-div,
.about-content-div {
  background-color: rgba(24, 24, 24, 0.5) !important;
  padding: 2% 0;
}

.about-image-div {
  width: 40%;
}

.about-content-div {
  width: 60%;
  height: 100%;
  flex-direction: column;
  color: #fff;
}

/* .about-content-left {
  background: linear-gradient(135deg, rgba(0, 238, 255, 0.2) 0%, rgba(0, 238, 255, 0.2) 61%, rgba(24, 24, 24, 0.5) 61%, rgba(24, 24, 24, 0.5) 100%);
}

.about-content-right {
  background: linear-gradient(135deg, rgba(24, 24, 24, 0.5) 0%, rgba(24, 24, 24, 0.5) 61%, rgb(0, 238, 255) 61%, rgb(0, 238, 255) 100%);
} */

.about-image {
  margin: 0 auto;
  width: 80%;
}

.about-div-title {
  font-size: 2.5rem;
  margin: 2% auto;
}

.about-div-ul {
  padding: 0;
}

.about-div-li {
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
  margin: 2% 0;
}

/* Skills Page Styles */

.skills-container.container {
  margin: 0 auto;
  padding: 2% 0;
  min-width: 100% !important;
  height: 90vh !important;
}

.skills-div {
  max-width: 80% !important;
  margin: 0 auto;
  text-align: center;
}

.skills-col {

}

.skills-icon-div {
  width: 60%;
  height: 100%;
  flex-direction: column;
}


/* Projects Page Styles */
.container.projects-container {
  min-width: 100% !important;
  padding: 0;
  margin-bottom: 3%;
}

.projects-row {
  width: 80%;
  margin: 0 auto;
  padding:  0;
  justify-content: space-between !important;
  height: auto;
  /* background-color: rgba(24, 24, 24, 0.9) !important; */
}


.projects-col {
  flex-direction: column;
  padding-top: 2%;
  flex-direction: row;
  border: solid 2px palegreen;
}


.project-btn {
  margin: 0 auto;
  padding: 1% 2%;
  background-color: rgb(0, 73, 78) !important;
  border: solid 3px rgb(0, 238, 255) !important;
  box-shadow: 2px 3px 10px 2px rgb(0, 0, 0);
  font-size: 1.5rem !important;
}

.project-btn:focus,
.project-btn:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.project-card {
  border-radius: 5px;
  border: solid 4px rgb(0, 238, 255) !important;
  background-color: rgba(24, 24, 24, 0.9) !important;
}


.card {
  width: 80%;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 2px rgb(0, 0, 0);
  background: transparent;
}

 .carousel {
  width: 900px;
  height: 460px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 3rem !important;
  color: rgb(0, 238, 255) !important;
}

.carousel-control-next-icon {
  background-image: url("./images/right-arrow.png") !important;
  background-color: transparent !important;
}

.carousel-control-prev-icon {
  background-image: url("./images/left-arrow.png") !important;

}

.project-image {
  margin: 0 auto;
  max-width: 50% !important;
}

.project-image-small {
  margin: auto;
  max-width: 80% !important;
}

.project-title {
  font-size: 2rem !important;
  margin-bottom: 2% !important;
  color: rgb(0, 238, 255);
}

.project-sub-title {
  font-size: 1.5rem !important;
  margin: 1% auto !important;
  color: rgb(0, 146, 156);
}

.project-text {
  margin-bottom: 2% !important;
}

.project-text,
.project-card-li {
  font-size: 1.25rem !important;
}


.project-card-list {
  border: none !important;
  text-decoration: none !important;
  background-color: rgba(24, 24, 24, 0.5) !important;
}

.project-card-li {
  border: none !important;
  text-decoration: none !important;
  background-color: transparent!important;
  color: #fff !important;
  padding: 0% 0% 1% 0% !important;
}

.project-card-links {
  width: 15%;
  justify-content: space-between;
}

.project-link {
  font-size: 3rem;
  color: rgb(0, 238, 255);
}


/* Test Project Styles */
.tproject-row {
  width: 95%;
  margin: 2% auto;
  border: solid 3px rgb(0, 238, 255);
  background-color: rgba(24, 24, 24, 0.9) !important;
}

.tproject-col-1 {
  width: 40% !important;
}

.tproject-col-2 {
  text-align: center;
  width: 60% !important;
}


.tproject-carousel {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tproject-image {
  margin: 0 auto;
  max-width: 70% !important;
}
/* Default Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Media Queries */
@media only screen and (max-width: 700px) {
  .header-links-div {
    width: 30%;
  }

}

@media only screen and (max-width: 1000px) {
  .about-col {
    flex-direction: column !important;
  }
  .about-image-div,
  .about-content-div {
    width: 100%;
  }

  .about-image {
    width: 50%;
  }

}


@media only screen and (max-width: 1200px) {
  div .header-section .Typewriter {
    font-size: 5rem !important;
    text-align: center;
  }

  .header-links-div {
    width: 20%;
  }
}